<h1>{{title}}</h1>
<table>
  <tr>
    <td (click)="move('0',0)">{{move0}}</td>
    <td class="vert" (click)="move('1',0)" >{{move1}}</td>
    <td (click)="move('2',0)" >{{move2}}</td>
  </tr>
  <tr>
    <td class="hori" (click)="move('3',0)" >{{move3}}</td>
    <td class="vert hori" (click)="move('4',0)">{{move4}}</td>
    <td class="hori" (click)="move('5',0)">{{move5}}</td>
  </tr>
  <tr>
    <td (click)="move('6',0)" >{{move6}}</td>
    <td class="vert" (click)="move('7',0)" >{{move7}}</td>
    <td (click)="move('8',0)" >{{move8}}</td>
  </tr>
</table>
<h2>{{result}}</h2>